In [2]:
import numpy as np
import pandas as pd

## Question 1

In [3]:
pd.__version__

'2.0.0'

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-19 17:34:51--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)...

185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  2.59MB/s    in 0.5s

2023-09-19 17:34:52 (2.59 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [5]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## Question 3

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

In [8]:
len(df.ocean_proximity.unique())

5

## Question 5

In [9]:
df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

## Question 6

In [10]:
df.total_bedrooms.mean()

537.8705525375618

In [11]:
total_bedrooms_average = df.total_bedrooms.mean()
print(f'total_bedrooms average: {total_bedrooms_average}')
df.total_bedrooms.fillna(total_bedrooms_average, inplace=True)

total_bedrooms average: 537.8705525375618

In [12]:
total_bedrooms_average_post = df.total_bedrooms.mean()
print(f'total_bedrooms average post: {total_bedrooms_average_post}')

total_bedrooms average post: 537.8705525375617

## Question 7

In [13]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [14]:
X = df[df.ocean_proximity == 'ISLAND'].loc[:,['housing_median_age', 'total_rooms', 'total_bedrooms']].values

In [15]:
XTX = np.matmul(X.T, X)

In [16]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [17]:
inverse_XTX = np.linalg.inv(XTX)
inverse_XTX

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [18]:
inverse_XTX.shape, X.T.shape

((3, 3), (3, 5))

In [19]:
y = np.array([950, 1300, 800, 1000, 1300])

In [20]:
XTXXT = np.matmul(inverse_XTX, X.T)

In [21]:
XTXXT.shape, y.shape

((3, 5), (5,))

In [24]:
w = np.matmul(XTXXT, y)

In [25]:
w[-1]

5.699229455065594